*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form div {
    margin-bottom: 25px;
    width: 100%;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 36px;
    background-color: #f0f0f0;
  }
  
  form button {
    background-color: #ff6347; /* tomato color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 36px;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
  }
  
  form button:hover {
    background-color: #ff4500; /* darker tomato color */
  }
  
  .message {
    margin-top: 20px;
    font-size: 16px;
    color: green;
  }