@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Montserrat", sans-serif;
}
.App {
  /* text-align: center; */
  padding: 50px;
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 50px auto;
}

h1 {
  font-size: 1.9em;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h1{
    font-size: 1.7em;
  }
}
p {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
}
